.title {
    background-color:gold
}

.recommend {
    background-color: gold;
    color: black;
}

body {
    align-content: center;
    background-image: url("https://steamuserimages-a.akamaihd.net/ugc/776247490581276273/F0BD4BAC04DE94F2C17B7D66FB99DF5C11A7A21D/?imw=5000&imh=5000&ima=fit&impolicy=Letterbox&imcolor=%23000000&letterbox=false")
}

.descript {
    background-color:gold;
    font-weight: bold;
    font-size: larger;
}
