* {text-align:center;}
body {
    background-color: #F0F0F0; /* 아주 옅은 그레이 */
    color: #2C3E50; /* 짙은 네이비 */
    height: 100vh;
    width: 100vw;
}
header {
    background-color:#F0F8FF;
    height:10vh;
}
nav {
    background-color:#FFFDD0;
    float:left;
    width:40vw;
    height:80vh;
}
section {
    background-color:#98FF98;
    display:inline-block;
    height:80vh;
    width:30vw;
}
aside {
    background-color:#ADD8E6;
    float:right;
    height:80vh;
    width:30vw;
}
footer {
    background-color:azure;
    clear: both;
    height:10vh;
}
img {
    width: 70px;
    height: 70px;
    margin-right: 10px;
}
h1 a {
    color: #3498DB; /* 밝은 블루 */
    display: flex;
    align-items: center; /* 이미지와 텍스트를 세로로 가운데 정렬 */
    justify-content: center; /* 플렉스 컨테이너 안의 요소들 수평 중앙 정렬 */
}
nav li {
    font-weight: bold;
}
ul li:hover {
    background-color:aqua;
}